.itch-badge {
    background-image: url('/static/img/badges/itch-badge.png');
}

.omgjam-badge {
    background-image: url('/static/img/badges/omgjam-badge.png');
}

.steam-badge {
    background-image: url('/static/img/badges/steam-badge.png');
}
.ludum-badge {
    background-image: url('/static/img/badges/ludum-badge.png');
}