

#games {
    background-color: $gray-100;
    display: flex;
    flex-direction: column;
    padding-top: 65px;

    .platform-button {
        max-width: 280px;
    }

    .more-info-button {
        background-color: $ophidianblue;
        color: $white;

        &:hover {
            background-color: $ophidianblue-lighten-50;
            color: $white;
        }
    }

    .button--ophidian-blue {
        background-color: $ophidianblue;
        color: $white;
        font-size: 1rem;
    
        &:hover{
            background-color: $ophidianblue-lighten-50;
            color: $white;
        }
    }

    .game {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
        padding: 15px 15px;
        &:nth-child(2n) {
            background-color: $gray-200;
        }
        .game-container {
            width: 65rem;
            margin-right: auto;
            margin-left: auto;
            padding: 15px 15px;
            display: flex;
            flex-direction: column;
            @include align-items(center);
            // .game-preview-container,
            // .game-overview-container {
            //     flex-basis: 100%;
            // }

            .game-preview-container{
                display: flex;
                flex-direction: row;
                justify-content: center;

                img {
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
                }
                
            }

            .game-overview-container {
                display: flex;
                justify-content: center;
                align-self: center;

                padding-top: 2rem;
                max-width: 480px;
                flex-direction: column;

                .block-platforms {
                    @include flexbox;
                    @include flex-direction(row);
                    @include justify-content(center);
                    @include flex-wrap(wrap);
                    .platform {
                        a {
                            color: $ophidianblue;
                            transition: color 0.3s;
                            &:hover {
                                text-decoration: none;
                                color: $ophidianorange;
                            }
                            .mdi-48px.mdiset,
                            .mdi-48px.mdi::before {
                                font-size: 5rem;
                            }
                            .platform-badge {
                                display: inline-block;
                                vertical-align: top;
                                border-radius: 2px;
                                padding: 40px;
                                width: 230px;
                                height: 92x;
                                // background-color: #EFEFEF;
                                // border: 1px solid #ddd;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                margin-bottom: 14px;
                                margin-right: 14px;
                            }
                        }
                    }
                }                

                .game-platform {
                    margin-right: auto;
                    .mdi {
                        color: #000;
                        transition: color 0.3s;
                        &:hover {
                            color: $ophidianorange;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #games {
        .game {
            .game-container {
                flex-direction: row;
                .game-preview-container{    
                    img {
                        max-width: 480px;
                        max-height: 270px;
                    }
                    
                }                
                .game-overview-container {
                    padding-top: 0px;
                    padding-left: 2rem;
                    max-width: initial;
                    width: 100%;

                    .block-platforms {
                        @include flex-wrap(nowrap);
                    }
                }
            }
        }
    }
}

.game-trailer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}



html[data-theme='dark'] {
    .invert-badge-dark {
        -webkit-filter: invert(1);
        filter: invert(1);
    }

    #games {
        background-color: var(--ifm-background-color);
        .game {
            &:nth-child(2n) {
                background-color: $mgb-color-almost-dark
            }

            .game-container {
                .game-preview-container{
                    img {
                        box-shadow: 5px 5px 5px rgba(0,0,0,1);
                    }
                }

            }
        }
    }
}